body {
    margin: 0;
    background: url("Background.png");
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgb(13, 0, 197);
    margin: 0;
}

.KOTLC{
    background: url(KOTLC5.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Pocketmonsters{
    background: url(Pokemon.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Animales{
    background: url(Animal.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Foodie{
    background: url(Food.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.DogMan{
    background: url(Comic.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.WC{
    background: url(WarriorCat.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    margin: 5px 50px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 20px;
    font-weight: 1000;
}

.navbar ul li a:hover{
    color: rgb(0, 255, 153);
}

.StickerBox{
    height:fit-content;
    width: fit-content;
    background-color: white;
    border:solid rgb(82, 118, 164) 8px ;
    border-radius: 70px;
    padding: 5vh;
    /* margin-left:5vw; */
    /* margin-top:5vw;
    margin-right: 5vw;
    margin-left: 5vw; */
    display: inline-flex;
    /* padding: auto; */
}

/* .StickerBox:hover{
    border: rgb(0, 69, 158)dashed 8px;
    .Sticker{
        width: 305px;
    }
} */


.Sticker{
    width:40vh;
    /* height: auto; */
}


.Sticker-Container{

    height: fit-content;
    /* margin-top: 90vh; */
    background-color: blueviolet;
    /* margin-left: 50px; */
    text-align: center;
    /* display: inline-flex; */
    /* width: 50%; */
    /* padding:5px; */
}

.boo{
    margin-top:0;
    height: 100%;
    background-color: rgb(0, 255, 136);
    width: 90vw;
    margin: auto;
}