body {
    margin: 0;
    background: url("Background.png");
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 3vh;
    justify-content: space-between;
/*     align-items: center; */
    background-color: blue;
    margin: 0;
}

/* .styleasy{
    align-items:center;
    position:fixed;
    width:100vw;
}  */

.KOTLC{
    background: url(KOTLC5.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Pocketmonsters{
    background: url(Pokemon.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Animales{
    background: url(Animal.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Foodie{
    background: url(Food.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.DogMan{
    background: url(Comic.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.WC{
    background: url(WarriorCat.png);
    height: 90vh;
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    margin: 2vw;
/*     margin-right: 4vw; */
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 1.5vw;
    font-weight: 1000;
}

.navbar ul li a:hover{
    color: springgreen;
    
/*         .AboutUs ul li a:hover{
        color: hotpink;
        } */
}


.SampleSticker {
    width: 400px;
    height: auto;
    padding-top: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.StickerBox{
    height:fit-content;
    width: fit-content;
    background-color: white;
    border:solid rgb(82, 118, 164) 8px ;
    border-radius: 70px;
    padding: 2vw;
    margin:3vw;
    display: inline-flex;
    /* padding: auto; */
}

.StickerBox:hover{
    border: rgb(0, 69, 158)dashed 8px;
    .Sticker{
        width: 21vw;
    }
}


.Sticker{
    width: 20vw;
}
