body{
    margin: 0;
    background:url("HGYSBT.gif");
    background-size: cover;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
    background-color: blue;
    margin: 0;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    margin: 2vw;
    margin-left: 3vw;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 1.25vw;
    font-weight: 1000;
}

.navbar ul li a:hover{
    color: rgb(0, 255, 132);
}
